.channelRow{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.channelRow_text{
    display: flex;
    flex-direction: column;
    width: 55%;
    
}


.channelRow_text > p{
    color: #606060;
    font-size: small !important;
    font-weight: 470;
    margin-bottom: 5px;
}


.channelRow_text  h4{
    font-size: 17px;
    font-weight: 470;
    display: flex;
    align-items: center;
    color: #353333;
    margin-bottom: 8px;
}

.checkIcon{
    font-size: 16px !important;
    margin-left: 7px;
    color: #353333;
}

.channelRow_logo {
    height: 120px !important;
    width: 120px !important;
    margin: 10px 30px;
}


.subs-button{
    box-shadow: none !important;
    font-size: 12.5px !important;
    font-weight: 600 !important;
    color: #575656 !important;
}

.bellIcon{
    color: #6b6969 !important;
    font-size: 22.3px !important;
}






