.channelRow{
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
}

.channelRow_text{
    display: flex;
    flex-direction: column;
}


.channelRow_text > p{
    color: #606060;
    font-size: small !important;
    font-weight: 470;
    margin-bottom: 5px;
}


.channelRow_text  h4{
    width: 90%;
    font-size: 17px;
    font-weight: 470;
    display: flex;
    align-items: center;
    color: #353333;
    margin-bottom: 8px;
    justify-content: space-between;
}

.checkIcon{
    font-size: 16px !important;
    margin-left: 7px;
    color: #353333;
}

.channelRow_logo {
    height: 120px !important;
    width: 120px !important;
    margin: 10px 60px;
}






