.recommended {
    flex: 0.8;
    background-color: rgb(248, 248, 248);
    
    padding-bottom: 0;
}


.recommended > h2{
    margin-left: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
    /* text-transform: uppercase; */
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: rgb(41, 39, 39);
}


.recommendedVideo {
    width: 97%;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 30px;  */
    /* padding-right: 30px; */

}


.recommended hr{
    width: 95%;
    margin: auto;
    height: 0.9px;
    border: 0;
    background-color: lightgray;
    margin-bottom: 10px;
}