.searchPage{
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 20px 75px;
}


.searchPage-filter{
    display: flex;
    align-items: center;
    color: #3b3a3a;
    font-size: xx-small !important;

}

.searchPage-filter > h2{
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.searchPage > hr{
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

h5{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.01rem;
    margin: 15px 0;
    margin-bottom: 20px;
}